{% extends 'newspaper/home.html' %}

{% block content %}
    <div class="post">
        {% if article.is_published == False %}
            <a class="btn btn-default" href="{% url 'article_publish' pk=article.pk %}">Publish</a>
        {% endif %}

        <div class="date">{{ article.date }}</div>
        <h1>{{ article.title }}</h1>
        <p>{{ article.content|linebreaksbr }}</p>
        <p>{{ article.author }}</p>
    </div>
    <div>
        {% if user.is_authenticated %}

            <div class="btn-group">
                <a class="btn btn-primary" href="{% url 'article_remove' pk=article.pk %}">Remove</a>
                <a class="btn btn-primary" href="{% url 'article_edit' pk=article.pk %}">Edit</a>
            </div>

            {% include 'newspaper/comment_new.html' with form=form %}

        {% endif %}
    </div>

    <div>
        {% include 'newspaper/comment.html' with comments=comments %}
    </div>

{% endblock %}