{% extends 'newspaper/home.html' %}

{% block content %}
    <div class="container">
        {% if article.is_published == False and user.is_staff %}
            <a class="btn btn-primary" href="{% url 'article_publish' pk=article.pk %}">Publish</a>
        {% endif %}

        {% if user.is_authenticated %}
            <form enctype="multipart/form-data" method="POST" class="post-form">{% csrf_token %}
                <button type="submit" class="save btn btn-default" name="favorite">Add to favorite</button>
            </form>
        {% endif %}

        <div class="row">
            <div class="col-xs-12">{{ article.date }}</div>
            {% if user.is_authenticated %}
                {% if user.is_staff or user == article.author %}
                    <div class=" col-xs-12 btn-group">
                        <a class="btn btn-primary" href="{% url 'article_remove' pk=article.pk %}">Remove</a>
                        <a class="btn btn-primary" href="{% url 'article_edit' pk=article.pk %}">Edit</a>
                    </div>
                {% endif %}
            {% endif %}
            <div class="col-xs-3 col-sm-2 col-md-1 " style="padding:0">
                {% load static %}
                <img src="{% static "newspaper/imgs/author.png" %}" class="img-responsive" />
            </div>
            <div class="col-xs-9 col-sm-10 col-md-11 align-middle"><h3>{{ article.author }}</h3></div>
        </div>
        <div class="row elo">
            <div class="col-xs-12"><h1>{{ article.title }}</h1></div>
            <div class="col-xs-12"><p>{{ article.content|linebreaksbr }}</p></div>
        </div>

        <div class="row">
            {% if user.is_authenticated %}
                {% include 'newspaper/comment_new.html' with form=form %}
            {% endif %}
        </div>

        <div class="row">
            {% include 'newspaper/comment.html' with comments=comments %}
        </div>
    </div>
{% endblock %}