<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "newspaper/css/customStylesheet.css" %}">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-inverse bg-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/" >ArticleSite</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="{% url 'event_list' %}">Events</a></li>
              {% if user.is_authenticated %}
                  <li><a href="{% url 'article_new' %}" >Add new article</a></li>
                  <li><a href="{% url 'my_article' user=user.pk %}" >My articles</a></li>
              {% endif %}
              {% if user.is_staff %}
                  <li><a href="{% url 'not_published_list' %}" >Not published</a></li>
                  <li><a href="{% url 'user_list' %}" >User list</a></li>
              {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
                  <li><a>Hello, {{ user.username }}</a></li>
                  <li><a href="{% url 'logout' %}">Log out</a></li>
              {% else %}
                <li><a href="{% url 'user_new' %}"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              {% endif %}
            </ul>
          </div>
        </nav>
    </div>
        <div class="content container">
            {% block content %}

            {% endblock %}
        </div>
    </div>
</body>
</html>