<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
<body>
<div class="container">
    <div class="page-header">
        {% if user.is_authenticated %}
            <div class="btn-group">
                <a href="{% url 'article_new' %}" class="btn btn-primary">Add new article</a>
                <a href="{% url 'not_published_list' %}" class="btn btn-primary">Not published</a>
            </div>
            <p class="top-menu">Hello {{ user.username }}
                <small>(<a href="{% url 'logout' %}">Log out</a>)</small>
            </p>
        {% else %}
            <a href="{% url 'login' %}" class="top-menu">Login</a>

        {% endif %}
        <h1><a href="/">Home Page</a></h1>
    </div>
    <div class="content container">
        {% block content %}

        {% endblock %}
    </div>
</div>
</body>
</html>