{% extends "newspaper/home.html" %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}" class="form">
    {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label>{{ field.label_tag }}</label>
                {{ field }}
            </div>
        {% endfor %}

        <input type="submit" value="login" class="btn btn-primary"/>
        <input type="hidden" name="next" value="/" class="btn btn-primary" />
    </form>
{% endblock %}